
 <link
      rel="stylesheet"
      href="../public/css/style.css"
    />

    <h1>欢迎来到我的网站</h1>
    <p>这是一个段落，段落中可以包含大量的文本信息。这里使用</p>
    <span>span 标签</span> 来突出显示某些文字。
    <img
      src="../public/picture/avter.png"
      alt=""
    />