<link rel="stylesheet" href="../public/css/style.css">
<h1>欢迎访问我的网站{{title}}</h1>
        <p>这是一个示例段落，它展示了如何使用不同的 HTML 标签来增强内容的表现形式。</p>
        <a >点击这里访问示例链接</a>
        <br>
        <p>下面是一些特点：</p>
        <ul>
            <li><span >易于阅读</span> - 文本清晰，布局合理。</li>
            <li><span >响应式设计</span> - 图片会根据屏幕大小调整。</li>
            <li><span>外部链接</span> - 可以跳转到其他网页。</li>
        </ul>