.header{
    display: flex;
    justify-content: space-between;
    .logo{
        
        width: 60px;
        height: 60px;
        background: url('@/assets/6.webp') no-repeat center center;
        background-size: cover;
    }
    .user-info{
        color: #ffffff;
        .user-name{
            margin-right: 20px;
        }
        .user-logout{
            cursor: pointer;
        }
    }
}
.body{
    height: calc(100vh - 64px);
}