.left{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
}
.top{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}